<div id="accueil">
    <div id="slide1" style="background-position: center -100px;">
        <div class="content slide-inside slide">
            
            <div class="jingle" >Ethnies Cités, le site du "melting pot" urbain...</div>
                <br/>
             <p>Le site est née du désir de rencontrer, questionner et de montrer par le biais de reportages et de portraits filmés, ce que différentes cultures ont apporté en France, à travers divers modes d’expression comme la musique, la mode, l’art, la cuisine et bien d’autres. Il ne s’agit donc pas de proposer un énième site musical, mais plutôt un site multiculturel.<br/>
                C’est par cette volonté de rassemblement que l’idée d’associer les termes « ethnies » et « cités » a émergé.<br/><br/>
                Selon les définitions anthropologique et philosophique :<br/><br/> 
                Ethnie définit un « groupement humain caractérisé par une même culture, une même langue ».<br/>
                Cité était dans l’Antiquité une communauté politique souveraine et indépendante.<br/>
                Ces deux termes mis en commun reflètent l’état d’esprit du site que nous voudrions développer, c’est-à-dire l’esprit d’un rassemblant culturel autour de différents centres d’intérêt.<br/>
 

            </p>
            <div class="clear"></div>
        </div>
    </div>   
</div>