{% block footer %}	
    <div id="footer">
        <ul>
            <li>© etniescites.com</li>
            <li><a class="nav-button current" href="#wrapper">⇑ Top</a></li>
        </ul>
    </div>
{% endblock %}