<div id="galerie">
    <div id="slide2">
        <div class="content slide-inside slide">
	    <div class="video">
		<a href="http://player.vimeo.com/video/66050353" 
		    class="lightview" 
		    data-lightview-type="iframe" 
		    data-lightview-options="
		    width: 640,
		    height: 360,
		    viewport: 'scale'">
		    <img alt="Demo Tracks" src="{{ asset('images/thumbs/Tracks.png')}}"/>
		</a>
		<a href="http://player.vimeo.com/video/66050524" 
		    class="lightview" 
		    data-lightview-type="iframe" 
		    data-lightview-options="
		    width: 640,
		    height: 360,
		    viewport: 'scale'">
		    <img alt="Assos2Locos: Tony sur le banc" src="{{ asset('images/thumbs/A2L.png')}}"/>
		</a>
		<a href="http://player.vimeo.com/video/66050646" 
		    class="lightview" 
		    data-lightview-type="iframe" 
		    data-lightview-options="
		    width: 640,
		    height: 360,
		    viewport: 'scale'">
		    <img alt="Assos2Locos: Pour Demain" src="{{ asset('images/thumbs/demain.png')}}"/>
		</a>
		<div class="clear"></div>
	    </div>
        </div>
    </div>   
</div>