{% block header %}
        <header id="header">
            <div id="top">
                <div id="logo">
                    <a href="#wrapper" id="sitetitle" class="nav-button current">Ethnies Cités</a>
                </div>   
                <nav>
                    <ul class="navigation">
                        <li><a href="#accueil" class="nav-button">Accueil</a></li>
                        <li><a href="#galerie" class="nav-button">Galerie Vidéo</a></li>
                        <li><a href="#contact" class="nav-button">Contact</a></li>
                    </ul>
                    {#<ul class="shortnav">
                        <li>
                            <select id="SelectMenu">
                                <option value="#">Choose</option>
                                <option value="#accueil" class="nav-button">Accueil</option>
                                <option value="#galerie" class="nav-button">Galerie Vidéo</option>
                                <option value="#contact" class="nav-button">Contact</option>
                            </select>
                        </li>
                    </ul>#}
                </nav>
                <div class="clear"></div>
            </div>
        </header>
{% endblock %}